.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
}

.form-container {
  max-width: 736px;
  flex-shrink: 0;

  padding: 32px 64px;

  margin: -32px auto 32px;

  border-radius: 8px;
  border: 1px solid #e6e6f0;
  background: var(--white);

  display: flex;
  justify-content: center;
}

.form-container h1 {
  color: var(--title);
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;

  margin-bottom: 10px;
}
.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container button,
a {
  margin-top: 22px;
  width: fit-content;
  align-self: flex-end;
}

.input-block {
  position: relative;
}

.input-block + .input-block {
  margin-top: 14px;
}

.input-block label {
  color: var(--title);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.input-block input {
  display: flex;
  width: 450px;
  height: 50px;
  padding: 11px 21px 11px 21px;
  align-items: center;
  flex-shrink: 0;

  border-radius: 5px;
  border: 1px solid #e6e6e6;
  background: #eaeaea;

  color: var(--text);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;

  margin-top: 8px;
  outline: 0;
}

.input-block:focus-within::after {
  width: calc(100% - 32px);
  height: 2px;
  content: '';
  background: var(--primary-blue);
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
}

.primary-button {
  padding: 9px 16px;
  border-radius: 3px;
  border: 1px solid var(--primary-dark);
  background: var(--primary-green);
  box-shadow: 0px 3px 5px 1px rgba(84, 193, 32, 0.15);

  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-decoration: none;
}

.button-singUp {
  padding: 9px 16px;
  border-radius: 3px;
  border: 0;

  text-decoration: underline;
  background-color: transparent;

  color: var(--primary-green);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.75px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
